.modal__buttons {
	border-top: none !important;
}
#btnModalPositive {
	color: white;
	border: none;
	background-color: #f05427;
}
#btnModalNegative {
	color: white;
	border: none;
	background-color: grey;
}
