//// Colors
$black: $black; //#000000;
$light-gray: #eee;
$medium-gray: #bdbdbd;
$dark-gray: #616161;
$ge-blue: $blue; //#005cb9;
$dark-blue: #1b4b7f;
$medium-blue: #649CC2;
$green: $green; //#46ad00;
$orange: #f05427;
$dark-orange: #c64224;
